.review {
    height: 100px;
    resize: none;
    margin-bottom: 13px
}
.review::placeholder {
    font-size: 14px;
    font-family: Arial;
}
.review_wrapp {
    width: 252px;
    padding: 10px;
}
.review_wrapp input {
    margin-bottom: 10px;
}
.header {
    margin-bottom: 15px;
}
.name, .place, .review {
    width: 250px;
}

.cluster{
margin-left: 10px;
}

.cluster_header {
    display: flex
}
.cluster_name {
    font-weight: 800;
}
.cluster_place {
    margin-left: 3px;
}
